<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/blueimp-gallery.min.css">
<link rel="stylesheet" href="css/demo.css">
</head>
<body>
<% if (!album.isRoot){ %>
  <% for (var i=0; i<breadcrumb.length; i++) { %>
  <% if (i==breadcrumb.length-1){ %>
  <%= breadcrumb[i].name %>
  <% }else{ %>
  <a href="<%= breadcrumb[i].url %>"> <%= breadcrumb[i].name %> &raquo; </a>
  <% } %>

  <% } %>
<% } %>
  <% if (album.description){ %>
    <p><%- album.description %></p>
  <% } %>

  <% if (album.albums.length>0){ %>
  <h2>Albums</h2>
  <ul class="albums">
    <% album.albums.forEach(function(album){ %>
      <li class="thumb">
        <a href="<%= rootDir%>/<%= album.path%>">
          <div class="image"><img src="/<%= directory %>/<%= album.thumb %>&tn=1" alt="<%= album.prettyName %>"><br /></div>
          <span class="caption"><%= album.prettyName %></span>
        </a>
      </li>
    <% }) %>
  </ul>
<% } %>
<% if (album.slicedPhotos.length>0){ %>
<div id="links">
    <% album.slicedPhotos.forEach(function(photo){ %>
      <a class="item" href="/<%= directory %>/<%= photo.path %>" title="<%= photo.name%>">
        <img src="/thumbs<%= photo.path %>" alt="<%= photo.name%>">
      </a>
    <% }) %>
</div>
<a href="?page=<%= album.nextpage %>" id="nextPage"></a>
<div class="navigation"></div>
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
</div>
<% } %>
<script src="js/lib/jquery-1.10.2.js"></script>
<script src="js/lib/blueimp-helper.js"></script>
<script src="js/lib/blueimp-gallery.min.js"></script>
<script src="js/lib/blueimp-gallery-fullscreen.js"></script>
<script src="js/lib/blueimp-gallery-indicator.js"></script>
<script src="js/lib/blueimp-gallery-video.js"></script>
<script src="js/lib/imagesloaded.pkgd.js"></script>
<script src="js/lib/masonry.pkgd.min.js"></script>
<script src="js/lib/jquery.infinitescroll.js"></script>
<script src="js/lib/jquery-scrollto.js"></script>
<script src="js/gallery.js"></script>
</body>
</html>
